@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid white; */
    box-sizing: border-box;
    /* overflow: hidden; */
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: black;
}


button {
    letter-spacing: .2vw;
    line-height: 1.5;
    word-spacing: .2vw;
}

a {
    text-decoration: none;
    color: white;
}

a img {
    text-decoration: none;
    border: none;
    display: block;
}

img{
    transition: transform 0.5s ease;
}


.container {
    /* max-width: 100vw; */
}

.header {
    display: flex;
    gap: 3vw;
    padding: 1vw;
    justify-content: center;
    font-size:1.5vw
}

.resume{
    margin-left:25vw;
}


header {
    display: flex;
    gap:30vw;
    justify-content: center;
    align-items: center;
    font-size:1.5vw;
    margin:1.5vw 0vw 0vw 0vw;
    padding:0 7vw 0 7vw;
    background-color:rgb(200, 45, 45);
      transition: background-color .6s ease;
}

.MAIN-FIRST {
    display:flex;
    justify-content:space-around;
}

.front-page {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    height:100vh;
}

.left-left img {
    width: 3vw;
    height: 3vw;
    border-radius: 10%;
    padding: .3vw;
    transition: background-color .6s ease;
    cursor: pointer;
}

#img-1:hover {
    background-color: blue;
}

#img-5:hover {
    background-color: red;
}

#img-4:hover {
    background-color: grey;
}

#img-2:hover {
    background-color: green;
}

#img-3:hover {
    background-color: orange;
}

.left {
    display: flex;
    align-items: center;
}

.left-left {
    display: flex;
    gap: 3vw;
    border-radius: 1vw;
    transition: transform 0.5s ease;
}


.inner-right img {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
}

.inner-right img:hover {
    transform: scale(1.05);

}


.left-right> :first-child{

    font-size: 2.6vw;
    color: grey;
    margin-bottom: 1vw;
    letter-spacing: .2vw;
    line-height: 1;
    height:2vw;
    word-spacing: .2vw;
}

.left-right> :nth-child(2) {
    font-size: 4vw;
    /* color: rgb(229, 218, 218); */
    letter-spacing: .2vw;
    line-height: 1.2;
    word-spacing: .2vw;
}



  .left-right {
        display: flex;
        flex-direction:column;
        gap:5vw;
    }


#typed {
    /* display: inline-block;
    position: relative; */
    color: #61dafb; /* Change color as needed */
}

.typing{
    color: #61dafb; /* Change color as needed */
    display:flex;
}

.blink {
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}


.MAIN {
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 3vw;
}

.heading {
    color: grey;
    font-size: 4vw;
    margin: 4vw auto;
}

.skills-main-second img {
    height: 6vw;
    max-width: 6vw;
}

.skills-main-second {
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.bring-on-table img {
    height: 5vw;
    width: 5vw;
}

.skills-main-second img:hover{
    transform: scale(1.5);
}

.bring-on-table>div>div {
    letter-spacing: .2vw;
    line-height: 1.5;
    word-spacing: .2vw;
}

.bring-on-table {
    gap: 5vw;
    margin: 4vw auto;
    display: flex;
    flex-wrap: wrap;
}

.bring-on-table>div {
    display: flex;
    color: white;
    padding: 3vw 1vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    box-shadow: 0 0 10px rgb(118, 116, 116);
    font-size: 1.22vw;
    text-align: center;
    width: 15vw;
    
}

.bring-on-table-hover{
    transition: transform 0.5s ease;
}

.bring-on-table-hover:hover{
    transform: scale(1.25);
}

.bring-on-table>div>img {
    margin: 0 5vw;
}

.projects {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
}

.inner-project {
    letter-spacing: .4vw;
    line-height: 2.5;
    word-spacing: .2vw;
    font-size:2vw;
    color:rgb(202, 185, 187);
}

.inner-project button{
    background: linear-gradient(90deg,rgb(29, 73, 86) 0%,rgb(139, 143, 177) 100%); 
    font-size:2vw;
    letter-spacing: .2vw;
    margin-top:3vw;
    padding:0 1.5vw;
    border-radius:1vw;
    text-align:center;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


.project-img {
    height: 30vw;
    width: 60vw;
    border-radius:1.2vw;
}


.project-number {
    color: rgb(93, 93, 237);
    position: absolute;
    z-index: 5;
    right: 10vw;
    /* bottom:5vw; */
    font-size: 12vw;
}


.inner-project{
    
}


.flip-card {
    height: 30vw;
    width: 60vw;
    perspective: 1000px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius:1.2vw;
}


.flip-card-back {
    background: linear-gradient(90deg,rgb(15, 40, 47) 0%,rgb(139, 143, 177) 100%);    transform: rotateY(180deg);
}

.earth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vw auto;
}

#earth-canvas {
    max-width: 100%;
    max-height: auto;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(118, 116, 116);
}


/* .relative-element {
    max-width: 100%;
    width: auto;
    height: 50%;
} */


.sun {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at center, #ffcc00, #ff7700);
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px 20px rgba(255, 136, 0, 0.8);
}

.orbit {
    width: 400px;
    height: 400px;
    border: 2px dashed rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: orbit 10s infinite linear;
}

.earth {
    width: 40px;
    height: 40px;
    background: radial-gradient(circle at center, #2c97de, #1e577a);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: rotate 3s infinite linear;
    box-shadow: 0 0 20px 5px rgba(0, 0, 255, 0.5);
}

.moon-orbit {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: orbit-moon 2s infinite linear;
}

.moon {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at center, #bbbbbb, #888888);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes orbit {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes orbit-moon {
    from {
        transform: translateX(-50%) rotate(0deg);
    }

    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: translateX(-50%) rotate(0deg);
    }

    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

.space {
    position: relative;
    /* border: 1px solid white; */
    left: 15vw;
    /* top: 20vw; */
}

.about-body {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    gap: 40vw;
    /* border: 1px solid white; */
    max-width: 80vw;
    margin-bottom: 10vw;
}

.about-para {
    color: white;
    font-size: 1.5vw;
    color: rgb(183, 174, 174);
    box-shadow: 0 0 10px rgb(118, 116, 116);
    padding: 3vw 2vw;
    letter-spacing: .2vw;
    line-height: 1.5;
    word-spacing: .2vw;
}

@media (max-width: 1500px) {

    .trans{
        position: unset;
        display: none;
    }

    .project-number {
        top: -10%;
        right: -4%;
        }

    .project-imgg,
    .project-img{
        box-shadow: 0 0 10px rgb(118, 116, 116);
        height: 45vw !important;
        /* opacity: 0.9 ; */
        width: 90vw !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project{
        /* box-shadow: 0 0 8px rgb(255, 255, 255); */
        /* height: 40vw; */
        gap: 5vw;
    }

    .inner-project{
        /* top: 0%;
        left: 0%; */
        gap:3vw;
        color:white;
    }

    .inner-project>div{
    }
    
    #hello-project{
        display: none
    }
    
    
    .project-left-button{
        margin: 0;
        font-size: 2vw;
        color: rgb(161, 161, 229);
        z-index: 10;
    }

    .projects {
        gap: 10vw;
    }

    .about-body {
        flex-direction: column;
        gap: 50vw;
    }

    .space {
        top: 20vw;
        left: 0vw;
    }

    .sun {
        height: 40px;
        width: 40px;
    }

    .orbit {
        height: 160px;
        width: 160px;
    }

    .earth {
        height: 16px;
        width: 16px;
    }

    .moon {
        height: 6px;
        width: 6px;
    }

    .moon-orbit {
        width: 36px;
        height: 36px;
    }

}

@media (max-width:1500px) {


    .form{
        flex-direction:column;
    }

    .form-p{
        font-size: 13vw;
    }

    .project-number {
        display:none;
    }

    .inner-right{
        display:none;
    }


    .MAIN-FIRST {
        /* flex-direction: column; */
        /* gap: 10vw; */
        /* margin-bottom:5vw; */
        /* margin-top:2vw; */
        height:100vh;
    }

    header{
        width: 100vw;
        padding: 3vw;
        font-size: 3vw;
        gap:4.5vw

    }
    
    .header{
        font-size: 3vw;
        gap:4.5vw; 

    }


    .inner-right>img {
        width: 40vw;
        height: 40vw;
        border-radius: 5vw;
    }



    .left-right>:nth-child(1){
        font-size: 8vw;
    }

    .left-right>:nth-child(2) {
        font-size: 12vw;
    }

    .left-right{
        gap:15vw;
    }

    



    .heading {
        font-size: 10vw;
        text-align: center;
    }

    .bring-on-table img {
        height: 10vw;
        width: 10vw;
    }

    .skills-main-second img {
        height: 15vw;
        max-width: 15vw;
    }

    .bring-on-table>div {
        flex-direction: row;
        width: 100%;
        /* gap: 10vw; */
        font-size: 5vw;
        justify-content: start;

    }

    .bring-on-table {
        gap: 8vw;
    }
    
.bring-on-table-hover{
    height:30vw;

}

.bring-on-table>:nth-child(4) {
display:none;
}

    .bring-on-table-hover:hover{
        transform: scale(1);
    }

    .MAIN {
        gap: 10vw;
        margin: 10vw auto;
    }
    
    .about-para{
        font-size: 5vw;
    }
    
    .form textarea{
        width:70vw !important;
        height: 20vw;
    }

    form{
        gap: 4vw !important;
        font-size:5vw !important;
    }
    
    form input{
        height:10vw !important;
        width:70vw !important;
    }
    
    .form-p{
        margin-bottom:5vw;
        font-size: 5vw !important;
    }
    
    form button{
        font-size:5vw !important;
        width: 50vw !important;
    }

    #sec5 >:nth-child(1) {
        font-size: 9vw;
    }
    
    footer{
        font-size: 2vw !important;
    }
    
    .form{
        margin-bottom: 10vw !important;
    }
    
    .left-left img {
        min-height:8vw;
        width:8vw;
    }
    
    .left-left{
        gap:8vw;
    }

    #sec2{
        margin:0 10vw 0 10vw;
    }
    

   

}

form {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 2vw;
    /* margin-right: 5vw; */
}

.form {
    display: flex;
    gap: 5vw;
    color: white;
    letter-spacing: .2vw;
    line-height: 2;
    word-spacing: .4vw;
    margin-bottom: 5vw;
    margin:0 10vw 5vw 10vw;
}

.inner-form {
    display: flex;
    flex-direction: column;
    gap: .5vw;
}

form button {
    padding: .5vw;
    font-size: 1.3vw;
    border-radius: .6vw;
    width: 20vw;
    background-color: rgb(185, 178, 178);
    margin-top: 1vw;
}

form input {
    background-color: rgb(185, 178, 178);
    width: 30vw;
    height: 3vw;
}

form textarea {
    background-color: rgb(185, 178, 178);
    width: 30vw;
}

.form p {
    font-size: 2.3vw;
    color:grey;
}

footer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    margin: 8vw 0 4vw 0;
    font-size: 1.2vw;
}

footer>div {
    display: flex;
    gap: 1vw;
}


.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Sidebar (Mobile) */
.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgb(200, 45, 45);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    letter-spacing: .2vw;
    line-height: 1.5;
    word-spacing: .2vw;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    width: 100%;
    text-align: center;
}

.sidebar a:hover {
    background-color:rgb(221, 50, 50);
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    /* right: 20px; */
    left:4vw;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Mobile View */
@media (max-width: 768px) {
    .header,.resume{
        display: none;
    }



    .menu-icon {
        display: block;
    }

    header{
        justify-content:start;
        margin-top:0;
    }
}



